<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Encuesta Anónima{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block head_extra %}{% endblock %}
  </head>

  <body class="min-h-screen bg-gray-100 flex flex-col">
    <header class="bg-blue-600 text-white py-4 shadow-md">
      <h1 class="text-center text-xl sm:text-2xl font-bold">
        Encuesta Presencialidad
      </h1>
    </header>

    <main class="flex-1 flex items-center justify-center p-4">
      {% block content %}{% endblock %}
    </main>
    {% if mensaje %}
    <script>
      Swal.fire({
        icon: "{{ 'success' if '✅' in mensaje else 'error' }}",
        title: "{{ 'Éxito' if '✅' in mensaje else 'Error' }}",
        html: `<p class="mt-2 text-lg font-bold">{{ mensaje.replace("✅ ","").replace("❌ ","") }}</p>`,
        background: "#fff",
        color: "#333",
        confirmButtonColor: "{{ '#2563eb' if '✅' in mensaje else '#dc2626' }}",
        confirmButtonText: "Aceptar",
        customClass: { popup: "rounded-2xl shadow-lg" }
      }).then(() => {
        {% if redirigir_login %}
          window.location.href = "/";
        {% endif %}
      });
    </script>
    {% endif %} {% block scripts %}{% endblock %}
  </body>
</html>
